body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 1rem;
}
.container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #dddddd;
    margin: 0 auto;
}

.container h1 {
    font-size: 20px;
}
header {
      background: #33a;
      color: #fff;
      margin: 0;
      padding: 0.5em;
      font-weight: bold;
      box-shadow: 0px 5px 30px 0px  rgba(0,0,0,0.5);;
}
.post {
    padding: 1em;
}
header .tagline {
    font-weight: normal;
    font-size: 0.8em;
    margin: 0 0 0 1em;
}